# Object files
cs362w17online/projects/sunderad/dominion/*.o

# Executables
cs362w17online/projects/sunderad/dominion/*.exe

# Debug files
cs362w17online/projects/sunderad/dominion/*.dSYM
cs362w17online/projects/sunderad/dominion/*.gcno
cs362w17online/projects/sunderad/dominion/*.gcda
cs362w17online/projects/sunderad/dominion/*.c.gcov
